[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = 5.5.1-pilz
	initrepo = true
[submodule "qtsvg"]
	path = qtsvg
	url = ../../qtproject/qtsvg.git
	branch = 5.5.1
	initrepo = true
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = ../../qtproject/qtdeclarative.git
	branch = 5.5.1
	initrepo = true
[submodule "qtactiveqt"]
	path = qtactiveqt
	url = ../../qtproject/qtactiveqt.git
	branch = 5.5.1
	initrepo = true
[submodule "qtscript"]
	path = qtscript
	url = ../../qtproject/qtscript.git
	branch = 5.5.1
	initrepo = true
[submodule "qtmultimedia"]
	path = qtmultimedia
	url = ../../qtproject/qtmultimedia.git
	branch = 5.5.1
	initrepo = true
[submodule "qttools"]
	path = qttools
	url = ../../qtproject/qttools.git
	branch = 5.5.1
	initrepo = true
[submodule "qtxmlpatterns"]
	path = qtxmlpatterns
	url = ../../qtproject/qtxmlpatterns.git
	branch = 5.5.1
	initrepo = true
[submodule "qttranslations"]
	path = qttranslations
	url = ../../qtproject/qttranslations.git
	branch = 5.5.1
	initrepo = true
[submodule "qtdoc"]
	path = qtdoc
	url = ../../qtproject/qtdoc.git
	branch = 5.5.1
	initrepo = true
[submodule "qtrepotools"]
	path = qtrepotools
	url = ../../qtproject/qtrepotools.git
	branch = master
	initrepo = true
[submodule "qtqa"]
	path = qtqa
	url = ../../qtproject/qtqa.git
	branch = master
	initrepo = true
[submodule "qtlocation"]
	path = qtlocation
	url = ../../qtproject/qtlocation.git
	branch = 5.5.1
	initrepo = true
[submodule "qtsensors"]
	path = qtsensors
	url = ../../qtproject/qtsensors.git
	branch = 5.5.1
	initrepo = true
[submodule "qtsystems"]
	path = qtsystems
	url = ../../qtproject/qtsystems.git
	branch = dev
[submodule "qtfeedback"]
	path = qtfeedback
	url = ../../qtproject/qtfeedback.git
	branch = master
[submodule "qtdocgallery"]
	path = qtdocgallery
	url = ../../qtproject/qtdocgallery.git
	branch = master
[submodule "qtpim"]
	path = qtpim
	url = ../../qtproject/qtpim.git
	branch = dev
[submodule "qtconnectivity"]
	path = qtconnectivity
	url = ../../qtproject/qtconnectivity.git
	branch = 5.5.1
	initrepo = true
[submodule "qtimageformats"]
	path = qtimageformats
	url = ../qtimageformats.git
	branch = 5.5.1-pilz
	initrepo = true
[submodule "qtquick1"]
	path = qtquick1
	url = ../../qtproject/qtquick1.git
	branch = 5.5.1
	initrepo = true
[submodule "qtgraphicaleffects"]
	path = qtgraphicaleffects
	url = ../../qtproject/qtgraphicaleffects.git
	branch = 5.5.1
	initrepo = true
[submodule "qtquickcontrols"]
	path = qtquickcontrols
	url = ../../qtproject/qtquickcontrols.git
	branch = 5.5.1
	initrepo = true
[submodule "qtserialport"]
	path = qtserialport
	url = ../../qtproject/qtserialport.git
	branch = 5.5.1
	initrepo = true
[submodule "qtx11extras"]
	path = qtx11extras
	url = ../../qtproject/qtx11extras.git
	branch = 5.5.1
	initrepo = true
[submodule "qtmacextras"]
	path = qtmacextras
	url = ../../qtproject/qtmacextras.git
	branch = 5.5.1
	initrepo = true
[submodule "qtwinextras"]
	path = qtwinextras
	url = ../../qtproject/qtwinextras.git
	branch = 5.5.1
	initrepo = true
[submodule "qtandroidextras"]
	path = qtandroidextras
	url = ../../qtproject/qtandroidextras.git
	branch = 5.5.1
	initrepo = true
[submodule "qtenginio"]
	path = qtenginio
	url = ../../qtproject/qtenginio.git
	branch = 1.2.1
	initrepo = true
[submodule "qtwebsockets"]
	path = qtwebsockets
	url = ../../qtproject/qtwebsockets.git
	branch = 5.5.1
	initrepo = true
